
Library/Artifacts/*
Library/PackageCache/*
Library/ScriptAssemblies/*
Library/ShaderCache/*
*.log
Temp/*
Library/StateCache/*
*.cache
Logs/*
.vs/*
Library/PackageManager/ProjectCache
Library/PlayerDataCache/
Library/ArtifactDB
Library/ArtifactDB-lock
Library/SourceAssetDB
Library/SourceAssetDB-lock
